body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.fridge-cont {
  text-align: center;
}

.fridge-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fridge-item-cont {
  margin: 1em;
  width: 180px;
  height: 300px;
}
